body { background-color: rgb(71, 192, 34);
    color: darkblue;
font-size: 70px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
justify-content: center;
justify-items: center;
text-align: center;


}

